.card {

    margin-top: 3px;
    background-color: #FFF8E3;
    border: 0.5px solid #395471;

  }
  
  .avatar {
    border: 0.5px solid #395471;
}


.bodySize {
  display: flex;
  justify-content: center;
}

.headerContainer {
  position: relative;
  
}

.header {
  position: absolute;
  top: -30px; /* Adjust this value to position the header above the card */
  left: 0;
  right: 0;
  text-align: center;
}