.header {
  padding-top: 8px; 
  background-color: #FFF8E3;
  border-bottom: 1px solid #d2d8e0; 
  margin-bottom: 30px; 
}

.mainSection {
  padding-bottom: 8px;
}

.user {
  color: #000000; 
  padding: 4px 8px;
  border-radius: 4px;
  transition: background-color 100ms ease;

  &:hover {
    background-color: #ffffff; 

  @media (max-width: 576px) {
    display: none;
  }
}
}
.userActive {
  background-color: #ffffff;
}

.tabsList {
  &::before {
    display: none;
  }
}

.tab {
  font-weight: 500;
  height: 38px; /* Replace with the actual value for rem(38) */
  background-color: transparent;
  position: relative;
  bottom: -1px;

  &::before,
  &::after {
    background-color: #d2d8e0; /* Replace with the actual value for --mantine-color-gray-2 */
  }

  &:hover {
    background-color: #edf1f7; /* Replace with the actual value for --mantine-color-gray-1 */
  }

  &[data-active] {
    background-color: #ffffff; /* Replace with the actual value for --mantine-color-white */
    border-color: #d2d8e0; /* Replace with the actual value for --mantine-color-gray-2 */
    border-bottom-color: transparent;
  }
}


.tabLink {

    color: #3d5a73; /* Blue color */
    text-decoration: none; /* Remove default underline */
    font-weight: bold; /* Make text bold */
    margin-right: 10px; /* Add some space between links */
  
  
  
  
}